.Navbar {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: right;
}

.Navbar button {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-style: italic;
    padding-left: 2rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.Navbar button:hover {
    font-weight: bold;
}

.Navbar a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
    padding-left: 2rem;
}

.Navbar a:hover {
    font-weight: bold;
}
